{% extends "base.html" %}
{% block title %}Student Profile{% endblock %}

{% block content %}

<div class="card">
    <h2>{{ student.name }}</h2>

    <p><b>Email:</b> {{ student.email }}</p>
    <p><b>Branch:</b> {{ student.branch }}</p>
    <p><b>CGPA:</b> {{ student.cgpa }}</p>

    {% if student.profile_description %}
        <p><b>Profile Description:</b></p>
        <p>{{ student.profile_description }}</p>
    {% endif %}

    {% if student.resume_path %}
        <p>
            <b>Resume:</b>
            <a href="/{{ student.resume_path }}" target="_blank">Download</a>
        </p>
    {% else %}
        <p><b>Resume:</b> Not uploaded</p>
    {% endif %}
</div>

<div class="card">
    <h3>Student Projects</h3>

    {% if projects %}
        <ul>
        {% for project in projects %}
            <li>
                <b>{{ project.title }}</b><br>
                {{ project.description }}<br>
                {% if project.project_link %}
                    <a href="{{ project.project_link }}" target="_blank">Project Link</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No projects found.</p>
    {% endif %}
</div>

{% endblock %}
