<div class="navbar">
    <h2>🎓 Placement Portal</h2>

    <div>
        {% if session.get('admin_id') %}
            <a href="/admin/dashboard">Dashboard</a>
            <a href="/admin/profile">Profile</a>
            <a href="/logout">Logout</a>

        {% elif session.get('student_id') %}
            <a href="/dashboard">Dashboard</a>
            <a href="/profile">Profile</a>
            <a href="/my-applications">Applications</a>
            <a href="/logout">Logout</a>
        {% endif %}
    </div>
</div>
