{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<h2 class="text-3xl font-bold mb-6">My Profile</h2>

<div class="bg-white/10 p-6 rounded-xl backdrop-blur mb-8">
    <p><b>Name:</b> {{ student.name }}</p>
    <p><b>Email:</b> {{ student.email }}</p>
    <p><b>CGPA:</b> {{ student.cgpa }}</p>

    {% if student.resume_path %}
        <a href="/{{ student.resume_path }}" class="text-cyan-400 underline mt-2 inline-block">
            View Resume
        </a>
    {% endif %}
</div>

<form method="POST" enctype="multipart/form-data"
      class="bg-white/10 p-6 rounded-xl backdrop-blur mb-8">
    <h3 class="font-semibold mb-3">Upload Resume (PDF)</h3>
    <input type="file" name="resume" required>
    <button class="bg-green-500 px-4 py-2 rounded-lg ml-3">
        Upload
    </button>
</form>

<h3 class="text-2xl font-semibold mb-4">Projects</h3>

{% for p in projects %}
<div class="bg-white/10 p-4 rounded-lg mb-4">
    <h4 class="font-bold text-cyan-400">{{ p.title }}</h4>
    <p class="text-gray-400">{{ p.description }}</p>
    <a href="{{ p.project_link }}" class="text-blue-400 underline">View Project</a>
</div>
{% endfor %}

<a href="/add-project" class="bg-purple-500 px-5 py-2 rounded-lg">
    + Add Project
</a>

{% endblock %}
